absl-py==0.9.0
aiohttp==3.6.2
alembic 
altair==4.1.0
ansi2html==1.5.2
anyjson==0.3.3
appdirs==1.4.3
appnope==0.1.0
argon2-cffi==19.1.0
arrow
asn1crypto 
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
attrs 
autofeat==1.1.2
autoviz==0.0.81
Babel==2.8.0
backcall==0.2.0
bcrypt 
beautifulsoup4 
bleach 
blis 
bokeh 
Brotli 
brotlipy==0.7.0
bs4==0.0.1
catalogue==1.0.0
catboost==0.24.4
category-encoders==2.1.0
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
click-plugins==1.1.1
cliff 
cligj==0.7.0
cloudpickle 
cmaes 
cmd2==1.5.0
cmdstanpy==0.4.0
colorama 
colorlog==4.7.2
colorlover==0.3.0
colour==0.1.5
confuse 
convertdate 
cryptography 
cssselect==1.1.0
cufflinks==0.17.0
cycler==0.10.0
cymem==2.0.3
Cython 
cytoolz==0.11.0
dacite==1.5.1
dash 
dash-bootstrap-components 
dash-colorscales 
dash-core-components==1.3.1
dash-daq 
dash-html-components==1.0.1
dash-renderer==1.1.2
dash-table==4.4.1
dask 
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
dill 
distributed 
dtale 
eli5==0.10.1
entrypoints==0.3
ephem 
et-xmlfile==1.0.1
fake-useragent==0.1.11
fbprophet==0.6
filelock==3.0.12
Fiona==1.8.4
Flask==1.1.2
Flask-Compress 
fsspec 
furl==2.1.0
future==0.18.2
gast==0.2.2
geopandas==0.6.1
google==2.0.3
google-pasta==0.2.0
graphviz 
grpcio==1.27.2
h5py==2.10.0
HeapDict==1.0.1
holidays 
html5lib 
htmlmin==0.1.12
idna 
ImageHash 
imbalanced-learn==0.6.2
importlib-metadata 
importlib-resources==3.2.0
infinity==1.5
intervals==0.9.0
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
itsdangerous==1.1.0
jdcal==1.4.1
jedi 
Jinja2==2.11.2
joblib 
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client 
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-dash 
jupyterlab-pygments 
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
korean-lunar-calendar 
lightgbm==2.3.0
littleutils==0.2.2
llvmlite==0.34.0
locket==0.2.0
LunarCalendar==0.0.9
lxml
lz4 
Mako
MarkupSafe==1.1.1
matplotlib 
missingno==0.4.2
mistune==0.8.4
mizani==0.7.1
mlxtend==0.17.2
mpmath==1.1.0
msgpack==1.0.0
msgpack-numpy 
multidict==4.7.6
munch==2.5.0
murmurhash==1.0.2
natsort==7.0.1
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
notebook==6.0.3
numba 
numpy 
olefile==0.46
openpyxl 
opt-einsum==3.2.0
optuna 
orderedmultidict==1.0.1
outdated==0.2.0
packaging==20.4
palettable==3.3.0
pandas 
pandas-datareader 
pandas-flavor==0.2.0
pandas-profiling 
pandasgui==0.2.5.1
pandocfilters==1.4.2
parse==1.15.0
parso==0.7.0
partd==1.1.0
passlib==1.7.4
patsy==0.5.1
pbr
pexpect==4.8.0
phik 
phonenumbers 
pickleshare==0.7.5
Pillow 
pingouin 
Pint==0.11
plac 
plotly
plotnine 
pmdarima==1.2.0
ppscore 
preshed==3.0.2
prettytable 
prometheus-client==0.8.0
prompt-toolkit
protobuf==3.11.3
psutil 
ptyprocess==0.6.0
py-spy==0.3.3
pyanp==0.3.1
pycparser 
pyee==7.0.1
Pygments 
pyjanitor 
PyMeeus 
pynput==1.7.1
pyOpenSSL 
pyparsing==2.4.7
pyperclip 
pyppeteer==0.0.25
pyproj==1.9.6
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
pyquery==1.4.1
pyrsistent 
PySocks==1.7.1
pystan==2.19.0.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
PyWavelets 
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==5.0.2
QtPy==1.9.0
ray==0.8.5
redis==3.4.1
regex 
requests 
requests-html==0.10.0
researchpy==0.2.3
retrying==1.3.3
Rtree==0.9.4
scikit-learn 
scipy 
seaborn 
seglearn==1.2.1
Send2Trash==1.5.0
setuptools-git==1.2
Shapely==1.6.4.post1
simplejson 
singledispatch 
six==1.15.0
sktime==0.4.1
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy 
SQLAlchemy 
SQLAlchemy-Utils 
squarify==0.4.3
srsly==1.0.2
statsmodels 
stevedore 
strsimpy 
sweetviz==1.1.1
sympy==1.5.1
tabulate==0.8.7
tangled-up-in-unicode 
tblib 
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
thinc 
threadpoolctl 
toolz 
tornado==6.0.4
tqdm 
traitlets 
tsfresh==0.15.1
typing-extensions 
ujson 
urllib3 
vega-datasets==0.8.0
visions
w3lib==1.21.0
wasabi 
wcwidth 
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray 
xgboost==0.90
xlrd==1.2.0
yarl==1.4.2
zict==2.0.0
zipp 
